[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
jupyterlab = "*"

[packages]
plotly = "*"
pandas = "*"
dash = "*"
redis = "*"
dash-bootstrap-components = "*"
peakutils = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
